                /* GENERALI */


.debug{
    border: 1px solid black;
}

h2{
    font-size: 2.5em;
}
.card{
    border: none;
    background-color: none;
}
/* wrapper */
.my-wrapper{
    width: 100%;
    margin: 0 auto;
}
@media screen and (min-width: 576px) {
    .my-wrapper{
        width: 95%;
    }
}
/* bottoni */
.my-btn-red{
    background-color: #CD3D0F;
}
.my-btn-blue{
    background-color: var(--my-btn-blue);
}

                /* variabili */
:root {
    --my-bg-black: #1F1F1F;
    --my-bg-gray: #BEBCBB;
    --my-bg-blue: #161C3B;
    --my-bg-lightblue: #00439C;
    --my-btn-blue: #2D64E6;
}

                /* HEADER */


header{
    background-color: black;
}
#sony-logo{
    width: 100px;
}
.header-top{
    height:40px;
}
.header-bottom{
    height: 70px;
    background-color: lightblue;    
}


                /* MAIN */


/* sezione 1 - JUMBOTRON */
#jumbotron{
    margin-top: 110px;
    padding-top: 300px;
    padding-bottom: 30px;
    background-image: url(../img/jumbo-bg.png);
    background-position: top center;
}
#jumbotron .card{
    border: none;
}

/* sezione 2 - CARD GIOCHI */
#section-two img{
    border-radius: 20px;
}

/* sezione 3 - PLAYSTATION 5 */
#section-three{
    margin-top: 80px;
}
#section-three .card.text-center h6{
    color: var(--my-btn-blue);
}
#section-three .card p{
    color: gray;
    font-size: 1.2em;
}
.my-layover{
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}
.my-img-wrapper{
    text-align: center;
    border-bottom: 3px solid white;
}
.my-img-wrapper:hover{
    border-bottom: 3px solid var(--my-btn-blue);
}
.row .col-4:hover .my-layover{
    display: none;
}
@media screen and (max-width: 767px) {
    .my-img-wrapper p{
        display: none;
    }
}

/* sezione 4 - IT TAKES TWO */
#jumbotron-2{
    padding-top: 50px;
    padding-bottom: 20px;
    background: url(../img/it-takes-two-hero-banner-desktop.jpg) no-repeat center;
    background-size: cover;
}
#jumbotron-2 .card{
    border: none;
}