/* GENERALI */
.debug{
    border: 1px solid black;
}
section{
    height: 90vh; /* poi toglilo */
}
/* bottoni */
.my-btn-red{
    background-color: #CD3D0F;
}

/* header */
header{
    background-color: black;
}
#sony-logo{
    width: 100px;
}
.header-top{
    height:40px;
}
.header-bottom{
    height: 70px;
    background-color: lightblue;    
}
  /* MAIN */

/* jumbotron - sezione 1 */
#jumbotron{
    margin-top: 110px;
    background-image: url(../img/jumbo-bg.png);
    background-position: top center;
}
#jumbotron .card{
    margin-top: 300px;
    border: none;
}