                /* GENERALI */


.debug{
    border: 1px solid black;
}
/* wrapper */
.my-wrapper{
    width: 100%;
    margin: 0 auto;
}
@media screen and (min-width: 576px) {
    .my-wrapper{
        width: 95%;
    }
}
/* bottoni */
.my-btn-red{
    background-color: #CD3D0F;
}

                /* variabili */


                /* HEADER */


header{
    background-color: black;
}
#sony-logo{
    width: 100px;
}
.header-top{
    height:40px;
}
.header-bottom{
    height: 70px;
    background-color: lightblue;    
}


                /* MAIN */


/* jumbotron - sezione 1 */
#jumbotron{
    margin-top: 110px;
    background-image: url(../img/jumbo-bg.png);
    background-position: top center;
}
#jumbotron .card{
    margin-top: 300px;
    border: none;
}
/* sezione 2 - card giochi */
#section-two img{
    border-radius: 20px;
}